@font-face {
    font-family: 'DancingScript';
    src: url('DancingScript-VariableFont_wght.ttf') format('truetype');
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgb(0, 4, 62);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.input{
    display: flex;
    flex-direction: column;
    width: 49%;
    border-radius: 25px;
    box-shadow: 1px 1px 4px white;
}
.texto{
    width: 100%;
    height: 100%;
    border-radius: 25px 25px 0px 0px ;
    padding: 25px;
    border: none;
    background-color: rgb(45, 45, 45);

}
.divTxt{
    height: 82vh;
}

textarea:focus{
    outline: none;
}
input{
    height: 8vh;
    border-radius: 0px 0px 25px 25px ;
    border: none;
    background-color: aqua;
}

.output{
    width: 49%;
    height: 98vh;
    border-radius: 25px;
    padding: 25px;
    background-color: rgb(45, 45, 45);
    color: white;
    box-shadow: 1px 1px 1px white;
    text-indent: 40px;
    text-align: justify;
    overflow: auto;
}

#editBar{
    display: flex;

}

#editBar button{
    height: 8vh;
    width: 20%;
    border: none;
}
#editBar input{
    height: 8vh;
    border: 1px solid black;
    border-radius: 0px;
    background-color: white;
    color: black;
}
#palavras{
    height: 8vh;
    background-color: white;
    padding: 3vh;
}

#titulos{
    padding: 0px 25px;
}

#size{
    padding: 0px 25px;
}